<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qinchy.weixin4jdemo.dao.SysOrgMapper">
    <resultMap id="BaseResultMap" type="com.qinchy.weixin4jdemo.model.SysOrg">
        <id column="ORG_ID" property="orgId" jdbcType="INTEGER"/>
        <result column="NAME" property="name" jdbcType="VARCHAR"/>
        <result column="PARENT_ID" property="parentId" jdbcType="INTEGER"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="TYPE" property="type" jdbcType="VARCHAR"/>
        <result column="TENANT_ID" property="tenantId" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        ORG_ID, NAME, PARENT_ID, REMARK, TYPE, TENANT_ID
    </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qinchy.weixin4jdemo.model.SysOrgExample">
        select
        <if test="distinct">
            distinct
        </if>
        'true' as QUERYID,
        <include refid="Base_Column_List"/>
        from sys_org
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from sys_org
        where ORG_ID = #{orgId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from sys_org
        where ORG_ID = #{orgId,jdbcType=INTEGER}
    </delete>
    <delete id="deleteByExample" parameterType="com.qinchy.weixin4jdemo.model.SysOrgExample">
        delete from sys_org
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.qinchy.weixin4jdemo.model.SysOrg">
        insert into sys_org (ORG_ID, NAME, PARENT_ID,
        REMARK, TYPE, TENANT_ID
        )
        values (#{orgId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER},
        #{remark,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{tenantId,jdbcType=BIGINT}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.qinchy.weixin4jdemo.model.SysOrg">
        insert into sys_org
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orgId != null">
                ORG_ID,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="parentId != null">
                PARENT_ID,
            </if>
            <if test="remark != null">
                REMARK,
            </if>
            <if test="type != null">
                TYPE,
            </if>
            <if test="tenantId != null">
                TENANT_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orgId != null">
                #{orgId,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=VARCHAR},
            </if>
            <if test="tenantId != null">
                #{tenantId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.qinchy.weixin4jdemo.model.SysOrgExample"
            resultType="java.lang.Integer">
        select count(*) from sys_org
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update sys_org
        <set>
            <if test="record.orgId != null">
                ORG_ID = #{record.orgId,jdbcType=INTEGER},
            </if>
            <if test="record.name != null">
                NAME = #{record.name,jdbcType=VARCHAR},
            </if>
            <if test="record.parentId != null">
                PARENT_ID = #{record.parentId,jdbcType=INTEGER},
            </if>
            <if test="record.remark != null">
                REMARK = #{record.remark,jdbcType=VARCHAR},
            </if>
            <if test="record.type != null">
                TYPE = #{record.type,jdbcType=VARCHAR},
            </if>
            <if test="record.tenantId != null">
                TENANT_ID = #{record.tenantId,jdbcType=BIGINT},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update sys_org
        set ORG_ID = #{record.orgId,jdbcType=INTEGER},
        NAME = #{record.name,jdbcType=VARCHAR},
        PARENT_ID = #{record.parentId,jdbcType=INTEGER},
        REMARK = #{record.remark,jdbcType=VARCHAR},
        TYPE = #{record.type,jdbcType=VARCHAR},
        TENANT_ID = #{record.tenantId,jdbcType=BIGINT}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.qinchy.weixin4jdemo.model.SysOrg">
        update sys_org
        <set>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                PARENT_ID = #{parentId,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                TYPE = #{type,jdbcType=VARCHAR},
            </if>
            <if test="tenantId != null">
                TENANT_ID = #{tenantId,jdbcType=BIGINT},
            </if>
        </set>
        where ORG_ID = #{orgId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.qinchy.weixin4jdemo.model.SysOrg">
        update sys_org
        set NAME = #{name,jdbcType=VARCHAR},
        PARENT_ID = #{parentId,jdbcType=INTEGER},
        REMARK = #{remark,jdbcType=VARCHAR},
        TYPE = #{type,jdbcType=VARCHAR},
        TENANT_ID = #{tenantId,jdbcType=BIGINT}
        where ORG_ID = #{orgId,jdbcType=INTEGER}
    </update>
</mapper>